.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    border: 1px solid rgb(220, 220, 220);
}
.iconContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.title{
    font-size: 30px;
    color: #7E59E7;
    font-weight: 500;
}