.singleImg {
    width: 100%;
    height: 400px;
  }

  .detailsContainer{
    text-align: left;
    padding: 10px;
}
.detailsContainer > p{
    margin: 2px;
    font-size: 18px;
    color: #B29DED;
}

