
.singleImg {
  width: 100%;
  height: 200px;
}
.ProductContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 2px;
  cursor: pointer;
  position: relative;
}
.detailsContainer{
    text-align: left;
}
.detailsContainer > p{
    margin: 2px;
    font-size: 12px;
}
.brandName,.discount{
color: #B29DED;
}

.comparePrice{
    text-decoration: line-through;
}
